/* This is a CSS override! It overrides default values for ALL elements. */
/* I highly recommend keeping this override in your code. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}



body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vh;
	background:black;

}

.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}


.container.card
{
position:relative;
width: 320px;
height: 400px;
background: pink;
border-radius: 20px;
overflow:hidden;
}

.container.card::before
{
	content:'';
	position: absolute;
	background:radial-gradient(var(--clr),transparent,transparent);
	width:700px;
	height:700px;
}